h1, h2, h3, h4, h5
{
    font-family: Lora-Regular;
}

html
{
    width: 100%;
}

body
{
    width: 80%;
    margin: 0 auto;
    border: 2px solid red;
}

#header-div
{
    display: flex;
    justify-content: space-between;
}

#footer-div
{
    display: flex;
    justify-content: space-around;
}

#footer-div a
{

}