h1, h2, h3, h4, h5, a, p, input
{
    font-family: Arial;
}

html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 60%;
    max-width: 900px;
    height: calc(100% - 80px);
    margin: 0 auto;
}

#header-div
{
    display: flex;
    justify-content: space-between;
}

footer
{
    position: fixed;
    bottom: 0;
    width: inherit;
    max-width: inherit;
    height: 80px;
    margin: 0 auto;
    background-color: white;
}

footer hr
{
    margin-top: 0;
}

#footer-div
{
    display: flex;
    justify-content: space-around;
}

#footer-div a
{
    margin: 15px 0;
    font-size: 20px;
}

#footer-div a:link
{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

#footer-div a:visited
{
    text-decoration: none;
    color: gray;
}

.active-page
{
    text-decoration: underline;
}

ui-view
{
    display: flex;
    /*height: calc(100% - 80px);*/
}

#right-div img
{
    display: block;
    margin: auto auto;
}

#left-div
{
    position: relative;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
}

#right-div
{
    position: relative;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
}