#landing-first-name
{
    text-align: left;
}

#landing-last-name
{
    text-align: right;
}

.text-block
{
    display: block;
    width: 100%;
}

.landing-name
{
    font-size: 56px;
    margin: 0;
}

.landing-name-space
{
    margin-top: 30px;
}

.landing-tagline
{
    text-align: center;
    font-size: 20px;
}

.landing-bio
{
    font-size: 16px;
}