.basic-input
{
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
    outline: none;
}

.input:focus
{
    box-shadow: 0 0 5px 2px cornflowerblue;
    border-color: transparent;
}

.input:nth-child(6)
{
    height: 150px;
}

#save-btn
{
    background-color: #C6E1E6;
}

#save-btn:hover
{
    background-color: powderblue;
}

#save-btn:active
{
    background-color: #a2d1d7;
}

img
{
    display: block;
    margin: 0 auto;
}