.text-header
{
    font-size: 18px;
    text-align: center;
}

.init-basic-input
{
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
    padding-left: 5px;
    outline: none;
}

.text-input:focus
{
    box-shadow: 0 0 5px 2px cornflowerblue;
    border-color: transparent;
}

.text-input:nth-child(6)
{
    padding-bottom: 150px;
    resize: vertical;
}

#save-btn
{
    background-color: #dcdcdc;
    padding: 0;
}

#save-btn:hover
{
    background-color: #c8c8c8;
}

#save-btn:active
{
    background-color: #b4b4b4;
}

#button-div
{
    position: relative;
}