<div id="left-div">
    <h4 class="init-text-header">Welcome to <a>DevMountain</a> Social</h4>
    <h4 class="init-text-header">Add Some Info So Friends Can Find You</h4>
    <input ng-model="name" placeholder="Full Name" class="basic-input text-input">
    <input ng-model="tagline" placeholder="Tagline" class="basic-input text-input">
    <input ng-model="profileUrl" placeholder="Profile Image Url" class="basic-input text-input">
    <textarea id="bio" ng-model="bio" placeholder="Bio" class="basic-input text-input"></textarea>
    <button ng-click="createUser()" id="init-save-btn" class="basic-input">Save Changes</button>
</div>
<div id="right-div">
    <img src="images/img-placeholder.png">
</div>