<div id="initView">
    <div id="initView-left">
        <h4>Welcome to <a>DevMountain</a> Social</h4>
        <h4>Add Some Info So Friends Can Find You</h4>
        <input ng-model="name" placeholder="Full Name">
        <input ng-model="tagline" placeholder="Tagline">
        <input ng-model="profileUrl" placeholder="Profile Image Url">
        <input ng-model="bio" placeholder="Bio">
        <button id="initView-save" ng-click="createUser()">Save Changes</button>
    </div>
    <div id="initView-right">
        <img src="http://placehold.it/400x600">
    </div>
</div>