.init-text-header
{
    font-size: 18px;
    text-align: center;
}

#init-save-btn
{
    background-color: #74fdf3;
    color: #B6B6B6;
    border-color: transparent;
    box-shadow: 0 0 2px 1px #00ffe9;
    padding: 0;
    font-weight: bold;
}

#init-save-btn:hover
{
    background-color: #00ffe9;
}

#init-save-btn:active
{
    background-color: #b4b4b4;
    box-shadow: 0 0 2px 1px #b4b4b4;
    color: #74fdf3;
}